[submodule "software/nucleo-pio/lib/NSS"]
	path = software/nucleo-pio/lib/NSS
	url = https://github.com/MPRlab/nss-library.git
[submodule "software/nucleo-pio/lib/OSC-Ethernet"]
	path = software/nucleo-pio/lib/OSC-Ethernet
	url = https://github.com/MPRlab/OSC-Client.git
[submodule "software/nucleo-pio/lib/ODrive"]
	path = software/nucleo-pio/lib/ODrive
	url = https://github.com/robohead456/ODriveMbed.git
[submodule "software/ParthenopeArduino/lib/OSC"]
	path = software/ParthenopeArduino/lib/OSC
	url = https://github.com/CNMAT/OSC.git
[submodule "software/ParthenopeArduino/lib/Ethernet"]
	path = software/ParthenopeArduino/lib/Ethernet
	url = https://github.com/robohead456/Ethernet.git
